table {
  border-collapse: collapse;
  border-radius: 11px;
  border-style: hidden;
  box-shadow: 6px 6px 22px 8px #666;
  td {
    border: 1px solid #ccc;
  }
}



  .inputValues {
    margin-top: 20px;
    margin-left: 10px;
    box-sizing: border-box;
    background-color: white;
    width: 230px;
    height: 55px;
    border-radius: 12px;
    border-color: gray;
    box-shadow: rgb(0 17 51 / 5%) 0 3px 15px;
  }

  .arrowImage {
    &:hover {
      cursor: pointer;
    }
    background-color: white;
    border: 1px solid gray;
    width: 53px;
    border-radius: 283px;
    height: 54px;
    margin-top: 43px;
    margin-right: 50px;
    align-items: center;
  }

  .convertButton {
    &:hover {
      background-color: blue;
      color: white;
      transition: ease-in-out 0.5s;
    }
    width: 160px;
    height: 54px;
    border-radius: 16px;
    color: blue;
    background-color: transparent;
    border-color: blue;
  }

  .smallFonts {
    margin-right: 10px;
    color: rgb(92, 102, 123);
    font-weight: 600;
    font-size: 1.4rem;
    max-width: 100%;
  }

  .convertContent {
    box-shadow: rgb(35 55 80 / 30%) 0px 6px 12px;
    border-radius: 10px;
    height: 400px;
    margin-bottom: 100px ;
    background-color: white;
  }

