<div class="container mt-5">
  <div class="row linkPages" routerLink="/rates">
    <div class="container" >
      <span class="material-icons icon">
      trending_up
      </span>
      <label>Rates</label>
    </div>
  </div>

  <div class="row linkPages" (click)="onEmployeePage()">
    <div class="container">
    <span class="material-icons icon">
      people_alt
    </span>
      <label>Employees</label>
    </div>
  </div>

  <div class="row linkPages" routerLink="/aboutus">
    <div class="container">
    <span class="material-icons icon">
      contact_support
    </span>
      <label>About Us</label>
    </div>
  </div>
</div>
