<div class="header">
  <h1>Easy & Useful</h1>
  <p>Project Management Tool</p>
  <hr>
  <p id="aboutTools">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
    nostrud
  </p>
</div>
  <div class="row mt-5" id="title">
    <div class="col-4">
      <img src="https://iventeye.github.io/dart-serv-manager.github.io/img/img-1.png">
      <div class="mt-3">
        <h4>Title Goes Here</h4>
        <p class="titleParagraph">Lorem ipsum dolor sit amet, consectetur
          adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="col-4">
      <img src="https://iventeye.github.io/dart-serv-manager.github.io/img/img-2.png">
      <div class="mt-3">
        <h4>Title Goes Here</h4>
        <p class="titleParagraph">Lorem ipsum dolor sit amet, consectetur
          adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="col-4">
      <img src="https://iventeye.github.io/dart-serv-manager.github.io/img/img-3.png">
      <div class="mt-3">
      <h4>Title Goes Here</h4>
        <p class="titleParagraph">Lorem ipsum dolor sit amet, consectetur
          adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
<div class="container">
  <button id="startButton">GET START</button>
</div>
