<div id="main">
  <div class="col-12">
    <div class="navbar">
      <div class="col-8 text-center" id="navbarMenu">
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">Extension</a>
        <a href="#">Pricing</a>
        <a href="#">Help</a>
      </div>
      <div class="btn-group">
          <button
            data-target="#navbar-in-collapse"
            class="btn btn-outline-dark dropdown-toggle"
            type="button">
            Sign Up With<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="row mt-5" id="row1">
    <div class="col-3" id="header">
      <h1>LOREM IPSUM<br>DOLOR SIT AMET</h1><hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        beiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamc
      </p>
    </div>
  </div>
  <div id="manageButtons">
    <button class="btn btn-outline-dark">BUY NOW</button>
    <button class="btn btn-outline-light">TRY FOR FREE</button>
  </div>
</div>




